<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>

<section class="container-fluid sec">
    <div class="row container-fluid  w-100 h-100">
        <div class="col-xs-6 w-75 h-100 " style="background-color: blueviolet;">
        <h1></h1></div>
    <div class="col-xs-6 w-25 h-100" style="background-color: aquamarine; z-index: 1;">
    <img src="driver.jpg" style="  clip-path:circle(50%)" alt="">
    <h2><%= dname%></h2>
    <h2><%= dnum%></h2>
    <h2><%= ctype%></h2>
    <h2><%= pnum%></h2>

</div>
    </div>
    
</section>
<%- include("partials/footer"); -%>